.popover {
    font-size: 1.2rem;
    width: 200px;
    background-color: $bg-color;
    position: absolute;
    padding: $s-size;
    border-radius: 5px;
    transform: translate(-50%,15px);
    left: 50%;

    &::before {
        content: '';
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $bg-color;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%,-100%);
    }

    .learn-soon {
        margin-top: 1rem;
        text-align: center;
        font-size: 1.4rem;
    }
    .lds-ellipsis {
        margin: 0 auto;
    }


}