.skills {
    &-text {
       margin-top: 10rem;
       
    }

    .my-skills {
        margin-top: 5rem;
    }
    .icon-techno {
        cursor: pointer;
        position: relative;
        display: inline-block;

    }
}

@media (max-width:700px) {
    .icon-techno {
        .popover {
            display: none;
        }
    }
}
