.skills {
    min-height: 100vh;
    
    &-text {
       margin-top: 10rem;
       
    }
    &-title {
        font-size: $ml-size;
    }
    .my-skills {
        margin-top: 5rem;
    }
    .icon-techno {
        cursor: pointer;
        position: relative;
        display: inline-block;

    }

    .my-skills-accordions {
        display: none ;
    }
}

@media (max-width:800px) {

    .skills {
        margin-bottom: 15rem;
        &-text {
            margin-top: 5rem;
        }

        .icon-techno {
            .popover {
                display: none;
            }
        }

        .my-skills {
            display: none;
        }

        .my-skills-accordions {
            display: block ;
        }
       
    }
    
    
}



